<div class="container mx-auto p-5">
    <h1>Admins</h1>
</div>
<div class="scrollable">
    <a class="btn btn-info text-white m-2" href="/createAdmin">
        <i class="fas fa-plus"></i>
        Create Admin
    </a>
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>username</th>
                <th>Phone</th>
                <th>Email</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <% admins.forEach(admin => {%>
                <tr>
                    <td><%= admin.firstname %></td>
                    <td><%= admin.lastname %></td>
                    <td><%= admin.username %></td>
                    <td><%= admin.phone %></td>
                    <td><%= admin.email %></td>
                    <!-- <td>
                        <form>
                            <button class="btn btn-dark text-white">
                                <i class="fas fa-trash"></i>
                                Delete</button>
                        </form>
                    </td> -->
                </tr>
            <%})%>
        </tbody>
    </table>
</div>
