<div class="container mx-auto p-5">
    <h1>Student Details</h1>
</div>
<div class="card">
    <div class="card-body">
        <div class="row container">
            <span class="col-4">Name: </span>
            <span class="col-8"><%= student.firstname + " " + student.lastname %></span>
        </div>
        <div class="row container">
            <span class="col-4">Email: </span>
            <span class="col-8"><%= student.email %></span>
        </div>
        <div class="row container">
            <span class="col-4">Phone: </span>
            <span class="col-8"><%= student.phone %></span>
        </div>
        <div class="row container">
            <span class="col-4">Date Registered: </span>
            <span class="col-8"><%= new Date(student.createdAt).toLocaleDateString() %></span>
        </div>
    </div>
</div>
<div class="scrollable">
    <h3>Courses</h3>
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <% student.courses.map(course => {%>
                <tr>
                    <td><%=course.title %></td>
                </tr>
            <%})%>
        </tbody>
    </table>    
</div>